<section id="nosotros" class="section nosotros-section">
  <div class="container">

    <p class="intro">
      <strong>C + D INGENIERÍA Y JURÍDICA INMOBILIARIA</strong>, nació de la pasión por ofrecer soluciones integrales
      en el ámbito de la gestión inmobiliaria y territorial. Con un equipo de Ingenieros Catastrales y Geodestas y de
      abogados prediales, nos especializamos en la gestión de proyectos, la administración predial, la gestión de información gráfica de datos espaciales y no espaciales, el catastro, los avalúos comerciales y el ordenamiento territorial.
    </p>

    <p>
      Cada proyecto es una oportunidad para transformar y gestionar con eficiencia y compromiso, donde nos hemos consolidado como líderes en la gestión de avalúos comerciales para una amplia gama de procesos jurídicos, incluyendo procesos de servidumbre y normatividad NIF.
      Nuestra experiencia en este campo nos ha permitido ofrecer servicios de calidad, brindando soluciones precisas y confiables a nuestros clientes.
    </p>

    <div class="mision-vision">
      <div class="card">
        <h3>MISIÓN</h3>
        <p>
          Nuestra misión es brindar soluciones integrales en el ámbito de los avalúos comerciales, la gestión predial y territorial, comprometidos con la excelencia, la transparencia, calidad y la satisfacción de nuestros clientes.
        </p>
      </div>

      <div class="card">
        <h3>VISIÓN</h3>
        <p>
          En el 2030 C + D INGENIERÍA Y JURÍDICA INMOBILIARIA será reconocida como líder en el sector inmobiliario,
          destacándonos por nuestra innovación, puntualidad, eficiencia y capacidad para adaptarnos a las necesidades de un mercado en constante evolución, contribuyendo al desarrollo sostenible con responsabilidad social.
        </p>
      </div>
    </div>
  </div>
</section>

