<section id="inicio" class="hero section">
  <div class="hero-content">
    <h1>Bienvenido a C + D INGENIERÍA Y JURÍDICA INMOBILIARIA</h1>
    <p>Tu aliado en gestión inmobiliaria y jurídica. Contamos con un equipo de expertos dispuestos a
      ofrecerte soluciones integrales y personalizadas en proyectos inmobiliarios, gestión predial,
      reclamaciones de impuestos prediales, plusvalía, valoración, elaboración de avalúos comerciales,
      catastro, topografía, Sistemas de Información Geográfica y diferentes ramas de la ingeniería Catastral
      y Geodesia y de derecho inmobiliario.</p>
    <a href="#contacto" class="cta-button">Contáctanos</a>
  </div>
</section>

