.logo img {
  height: 100px;
  object-fit: contain;
}

.navbar {
  position: fixed;
  top: 0;
  width: 97%;
  background-color: var(--color-principal);
  padding: 1rem 2rem;
  z-index: 1000;
  color: var(--color-blanco);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    font-weight: bold;
    font-size: 1.2rem;
  }

  .menu {
    list-style: none;
    display: flex;
    gap: 1.5rem;

    li a {
      color: var(--color-blanco);
      text-decoration: none;
      font-weight: 600;

      &:hover {
        color: var(--color-acento);
      }
    }
  }
}

